{% extends "layout.html" %}

{% block title %}
    Account
{% endblock %}

{% block main %}
    <h1>Account Settings</h1>
    <div>
        <p class="fs-4">Username: <i>{{ user }}</i></p>
        <p class="fs-4">Balance: <i>{{ cash | usd }}</i></p>
        <div class="container" style="max-width: 600px;">
            <form class="mb-2" action="/change_user" method="post">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="New Username" name="new_username">
                    <button class="btn btn-outline-secondary w-30" type="submit">Change Username</button>
                </div>
            </form>
            <form class="mb-2" action="/change_pass" method="post">
                <div class="input-group mb-3">
                    <input type="password" class="form-control" placeholder="New Password" name="new_password">
                    <button class="btn btn-outline-secondary w-30" type="submit">Change Password</button>
                </div>
            </form>
            <form class="mb-2" action="/deposit" method="post">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Deposit Amount" name="deposit">
                    <button class="btn btn-outline-secondary w-30" type="submit">Deposit</button>
                </div>
            </form>
            <form class="mb-2" action="/withdraw" method="post">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Withdraw Amount" name="withdraw">
                    <button class="btn btn-outline-secondary w-30" type="submit">Withdraw</button>
                </div>
            <button class="btn btn-danger mb-2" onclick="location.href='/delete'">Delete Account</button>
        </div>
    </div>
{% endblock %}