{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <h1>Logged in as {{ user }}</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-start">Symbol</th>
                <th class="text-end">Shares</th>
                <th class="text-end">Price</th>
                <th class="text-end">TOTAL</th>
            </tr>
        </thead>
    <tbody>
                {% for row in rows %}
                <tr>           
                    <td class="text-start">{{ row['symbol'] }}</td>
                    <td class="text-end">{{ row['shares'] }}</td>
                    <td class="text-end">{{ row['price_share'] }}</td>
                    <td class="text-end">{{ row['price_total'] }}</td>
                </tr>
                {% endfor %}
            
        </tbody>
        <tfoot>
            <tr>
                <td class="border-0 fw-bold text-end" colspan="3">Cash</td>
                <td class="border-0 text-end">{{ cash }}</td>
            </tr>
            <tr>
                <td class="border-0 fw-bold text-end" colspan="3">TOTAL</td>
                <td class="border-0 w-bold text-end">{{ total }}</td>
            </tr>
        </tfoot>
    </table>
{% endblock %}