{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <h1>Logged in as {{ user }}</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-start">Symbol</th>
                <th class="text-end">Shares</th>
                <th class="text-end">Price</th>
                <th class="text-end">TOTAL</th>
                <th class="text-end"></th>
                <th class="text-end"></th>
            </tr>
        </thead>
    <tbody>
                {% for row in portfolio %}
                <tr>           
                    <td class="text-start">{{ row['symbol'] }}</td>
                    <td class="text-end">{{ row['SUM(shares)'] }}</td>
                    <td class="text-end">{{ row['current_price'] | usd}}</td>
                    <td class="text-end">{{ row['total_price'] | usd }}</td>
                    <td class="text-end">{{ row['profitability'] }}</td>
                    <td class="text-end"><a href="/sell?symbol={{ row['symbol'] }}">Sell</a>&#47;<a href="/buy?symbol={{ row['symbol'] }}">Buy</a></td>
                </tr>
                {% endfor %}
            
        </tbody>
        <tfoot>
            <tr>
                <td class="border-0 fw-bold text-end" colspan="3">Cash</td>
                <td class="border-0 text-end">{{ user_cash | usd }}</td>
            </tr>
            <tr>
                <td class="border-0 fw-bold text-end" colspan="3">TOTAL</td>
                <td class="border-0 w-bold text-end">{{ current_total | usd }}</td>
            </tr>
        </tfoot>
    </table>
{% endblock %}